.main__body-message-list{ "data-message-id": "#{message.id}"}
  .main__body-message-list-upper
    .main__body-message-list-upper-name
      = message.user.name
    .main__body-message-list-upper-time
      = message.created_at
  .main__body-message-list-lower
    .main__body--message-list-lower-body
      = message.body
      = image_tag (message.image.to_s)

